<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travolo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".login" />
        <activity android:name=".period"/>
        <activity android:name=".progress_loading"/>
        <activity android:name=".planlist" android:parentActivityName=".login"/>
        <activity android:name=".signup" />
        <activity android:name=".historylist"/>
        <activity android:name=".checkpwd"/>
        <activity android:name=".changepwd"/>
        <activity android:name=".setting"/>
        <activity android:name=".preferencelist"/>
        <activity android:name=".preference_loading"/>
        <activity android:name=".arealist"/>
        <activity android:name=".plan_map"/>
        <activity android:name=".findaccount"/>
        <activity android:name=".areainfo"/>
        <activity android:name=".findresult"/>
        <activity android:name=".evaluateplan"/>
        <activity android:name=".editplan"/>
        <activity android:name=".rebuild_plan"/>
        <activity android:name=".afterplan"/>
        <activity android:name=".select_place"/>
        <activity android:name=".recommendInsert"/>
        <activity android:name=".recommend_loading"/>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>